<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Transactions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <h1>Transactions</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.id}">1</td>
                <td th:text="${transaction.productName}">Product Name</td>
                <td th:text="${transaction.amount}">Amount</td>
                <td th:text="${transaction.date}">Date</td>
            </tr>
        </tbody>
    </table>
</body>

</html>