<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/main :: head">

<head>
    <title>Privacy Policy</title>
</head>

<body>
    <div th:replace="layout/main :: navbar"></div>
    <div class="wrapper">
        <div th:replace="layout/main :: sidebar"></div>
        <div class="main-content">
            <h1>Privacy Policy</h1>
            <p>Your privacy is important to us. This is the privacy policy of FarmSure.</p>
            <p>Email: rohanadat4852@gmail.com</p>
        </div>
    </div>
    <div th:replace="layout/main :: footer"></div>
    <div th:replace="layout/main :: scripts"></div>
</body>

</html>